@import "../less/theme.less";

.tm-headerbar {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tm-navbar {
  margin-top: 0px;
}

.thumbnail-mitglieder {
  figure {
    figcaption {
      padding-top: 10px;
      height: 90px;
    }
  }
}
