@import "../less/theme.less";

body {
  background: url('../images/cityheader_green.png');
  background-repeat: repeat-x;
  background-position: 0 -75px;
}

.tm-content {
  padding: 20px;
  background: white;
}

.tm-headerbar {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tm-navbar {
  margin-top: 0px;
}

.thumbnail-mitglieder {
  figure {
    figcaption {
      padding-top: 10px;
      height: 90px;
    }
  }
}
